# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# MLflow
mlruns/
mlflow.db

# Trained models
models/
*.pkl

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
